.bottom{
    width: 100%;
    height: 100px;
    /* border:1px solid white; */
  
    position: relative;
}
.play{
    width: 340px;
    height: 100%;
    /* border:1px solid white; */
    /* background-color: lightblue; */
    position: absolute;
    left: 130px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play button{
  width: 140px;
  height: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Scada', sans-serif;
  border-radius: 7px;
  border:1px solid gray
}
.play .google{
    width: 160px;
}
.arrow{
    width:50px;
    height: 100%;
    /* background-color: lightblue; */
    /* border:1px solid white; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    /* background-color: lightblue; */
    width:520px;
    height: 100%;
    /* border:1px solid white; */
    position: absolute;
    right: 130px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrow button{
    background: black;
    border: none;
}
.icons p{
    width: 320px;
    font-size: 10px;
    text-align: justify;
    color: gray;
}
.icons button{
    height: 30px;
    width: 30px;
    background-color: black;
    border:none;
}