body{
    
    font-family: 'Scada', sans-serif;
}.wrap{
    height: 680px;
    width:100%;
    /* background-color: white; */
    position: relative;
    overflow: hidden;
}
.lines{
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0px;
    background-image: url("./images/bg2.png");
}
article{
    height: 430px;
    width: 600px;
    position: absolute;
    top: 60px;
    left: 300px;
    /* border: 1px solid black; */
    display:flex;
    background-image: url("./images/mobile.png");
    z-index: 2;
}
.info{
  width: 50%; 
  margin: 50px 0px;
} 
.info h2{
    padding: 0px 20px;
    font-size: 30px;
    color: #00D54B;
    font-weight: 700;
   
}
.info p{
    text-align: justify;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 400;
    
}
.r1{
    position: absolute;
    bottom: -115px;
    left: -568px;
}
.r2{
    position: absolute;
    bottom: 30px;
    left: 180px;
    z-index: 2;
}
.r3{
    position: absolute;
    bottom: 60px;
    left: 290px;
    z-index: 1;
}
.medium{
    position: absolute;
    bottom: 50px;
    left: 520px;
    z-index: 2;
}
.half-medium{
    position: absolute;
    bottom: -80px;
    left: 655px;
    z-index: 2;
}
.large{
    position: absolute;
    bottom: 80px;
    left: 658px;
    z-index: 1;
}
  .second-piller{
    position: absolute;
    bottom: -80px;
    left: 310px;
    z-index: 3;
  }
  .l2{
    position: absolute;
    bottom: 160px;
    left: 980px;
    z-index: 1;
}
.l1{
    position: absolute;
    bottom: 40px;
    right: 70px;
    z-index: 0;
}
